<html xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- IMPORTAR BASE.HTML (CONTEM O HEAD PADRAO) PARA O HEAD DO HOME, Eu vou utilizar esse atributo
     “fragment” do Thymeleaf para dar um nome para ele. Eu vou chamar de “head” mesmo.
     home” eu vou importar o “head” do arquivo “base.html”. Como fazemos isso? Nós utilizamos o
     “th:replace” e utilizamos o acento til nesse caso.!-->
  <head th:replace="~{base :: head}"></head>
    <!-- quando você quer acessar um fragmento de uma outra página, você usa esse til com abre e
    fecha chaves. Aí você vai colocar qual é a página “::” e qual é o fragmento, que é “head”.!-->
  <body>
    <div th:replace="~{base :: logo}"></div>
   <!--“container” é quem dá essa possibilidade de ajuste no nosso site de acordo com o tamanho do dispositivo-->
    <div class="container">  <!-- Vamos no site do Bootstrap, entramos na documentação e aqui tem os componentes. O componente para criarmos menus é esse “Navbar” e aí tem vários exemplos que podemos usar.-->
        <div th:replace="~{base :: titulo('Meus Pedidos')}"></div>
        <nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3" >
            <div class="navbar-nav">
                <!-- th:classappend= Exibe o status 'active' em destaque. exemplo :
                Se “status” for igual a “aguardando” eu adiciono a classe “active”. Então eu uso esse “classappend”. !-->
                <a th:classappend="${status} == null ? 'active'" class="nav-item nav-link"  href="/home">Todos</a>
                <a th:classappend="${status} == 'aguardando' ? 'active'" class="nav-item nav-link" href="/home/aguardando">Aguardando</a>
                <a th:classappend="${status} == 'aprovado' ? 'active'" class= "nav-item nav-link" href="/home/aprovado">Aprovado</a>
                <a th:classappend="${status} == 'entregue' ? 'active'" class="nav-item nav-link" href="/home/entregue">Entregue</a>
            </div>
            <a href="/pedido/formulario"><button class="btn btn-outline-secundary">Novo</button></a>
        </nav>

         <div class="card mb-3" th:each="pedido : ${pedidos}">
             <!-- th:block th:switch="${#strings.toString(pedido.status)}- serve apenas para você executar um comando, nós vamos executar o “switch”.
             E eu vou fazer um “switch” de acordo com o “status”. Então, “(#strings.toString(pedido.status))”.
             O “status” de um “enum” é o valor do “enum” em String literal.!-->
            <th:block th:switch="${#strings.toString(pedido.status)}">
                <div th:case="'AGUARDANDO'" class="card-header alert-warning" th:text="${pedido.nomeProduto}">Nome do Produto</div>
                <div th:case="'APROVADO'" class="card-header alert-success" th:text="${pedido.nomeProduto}">Nome do Produto</div>
                <div th:case="'ENTREGUE'" class="card-header alert-dark" th:text="${pedido.nomeProduto}">Nome do Produto</div>
            </th:block>

            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm-8 mb-3">
                        <div class="row">
                            <div class="col-md-5">Valor:<span th:if="${pedido.valorNegociado} !=null " th:text ="${'R$ '+#numbers.formatDecimal(pedido.valorNegociado,3,'POINT',2,'COMMA')}">200,99</span></div>
                            <div class="col-md-7">Data da entrega : <span  th:text ="${#temporals.format(pedido.dateEntrega,'dd/MM/yyyy')}">10/02/2020</span></div>
                        </div>
                            <div>Produto</div>
                            <div><input class="form-control" th:value="${pedido.urlProduto}" value="url do produto"/></div>

                             <div>Descricao</div>
                             <div>
                                <textarea class="form-control" th:text = "${pedido.descricao}">descricao do pedido</textarea>
                             </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div>
                            <img class="img-thumbnail"  th:src="${pedido.urlImagem}" src=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>

<!-- Um “Component” (ou Componente) é um estilo visual que
você aplica a uma determinada “div” principalmente.-->

<!--É preciso se lembrar de "importar" o fragment em cada página.


 Para mudar a coloração, eu já abri a página do “Bootstrap”, ele
 tem nos “Components Alerts” algumas configurações de cor que são
 as que vamos utilizar no nosso caso. Então se for o pedido que
 está “Aguardando”, ele vai ficar amarelo.
!-->