<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-binf="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head th:replace="~{base :: head}"></head>

<!--invocar metodo quando o body é carregado
 Ou seja, vamos fazer esse mesmo for each, só que na sintaxe do Vue.js.
 Para cada pedido que eu encontrar nesse array, eu vou montar um formulário onde o
 usuário vai poder setar valor, data de entrega e gerar uma oferta.
  Ele vai clicar no botão lá e vai fazer uma requisição de oferta!-->
<body onload="onLoad()">
<div th:replace="~{base :: logo}"></div>

<div class="container" id="ofertas">
    <div th:replace="~{base :: titulo('Faça sua oferta')}"></div>

    <!--v-for=""pedido in pedidos" for each do vue.js-->
    <div class="card mb-3" v-for="pedido in pedidos">
        <div class="card-header alert-dark">{{pedido.nomeProduto}}</div>

        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-8 mb-3">
                    <div class="row">
                        <div class="col-md-5">Valor:<input /></div>
                        <div class="col-md-7">Data da entrega:<input/></div>
                    </div>
                    <div>Produto</div>
                    <div><a v-bind:href="pedido.urlProduto"/>{{pedido.nomeProduto}}</a></div>

                    <div>Descricao</div>
                    <div>
                        <textarea class="form-control">{{pedido.descricao}}</textarea>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div>
                        <img class="img-thumbnail" v-bind:src="pedido.urlImagem" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  funcao Vue.js vai ser invocada depois de cada pagina ser invocada !-->
<script>
            function onLoad(){
                var app = new Vue({
                el: '#ofertas',
                data: {
                 pedidos : [
                            {
                           "id":43,
                           "nomeProduto":"Pizza MUSSARELA",
                           "valorNegociado":null,
                           "dateEntrega":null,
                           "urlProduto":"https://blog.ceraflame.com.br/pizza-napolitana/",
                           "urlImagem":"https://img.itdg.com.br/tdg/images/recipes/000/105/489/188136/188136_original.jpg?mode=crop&width=710&height=400",
                           "descricao":"QUEIJO E TOMATE",
                           "status":"AGUARDANDO"
                            }]
                          }
                        });
                       }

</script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</body>
</html>

<!--
Tudo o que você adiciona no model é acessível pelo Thymeleaf. Tudo o que você adiciona no data
é acessado pelo Vue.js nessa sintaxe, como se fosse o Thymeleaf. Então é legal, funciona de modo
bem interessante.-->
