<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-binf="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head th:replace="~{base :: head}"></head>

<!--invocar metodo quando o body é carregado
 Ou seja, vamos fazer esse mesmo for each, só que na sintaxe do Vue.js.
 Para cada pedido que eu encontrar nesse array, eu vou montar um formulário onde o
 usuário vai poder setar valor, data de entrega e gerar uma oferta.
  Ele vai clicar no botão lá e vai fazer uma requisição de oferta!

  Agora estamos consumido o JSON da nossa aplicação, com o Vue.js e com o Axios,
  estamos fazendo uma consulta em nossa API REST. São novas siglas para lidarmos no nosso dia a dia
  -->
<body onload="onLoad()">
<div th:replace="~{base :: logo}"></div>

<div class="container" id="ofertas">
    <div th:replace="~{base :: titulo('Faça sua oferta')}"></div>

    <!--v-for=""pedido in pedidos" for each do vue.js-->
    <div class="card mb-3" v-for="pedido in pedidos">
        <div class="card-header alert-dark">{{pedido.nomeProduto}}</div>

        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-8 mb-3">
                    <div>Produto</div>
                    <div><a v-bind:href="pedido.urlProduto"/>{{pedido.nomeProduto}}</a></div>

                    <div>Descricao</div>
                    <div>
                        <textarea disabled="disabled" class="form-control">{{pedido.descricao}}</textarea>
                    </div>
                    <div class="row mt-3" >
                        <div class="col-md-5">Valor <input class="form-control" v-model="pedido.valorNegociado" /></div>
                        <div class="col-md-7">Data da entrega  <input class="form-control" v-model="pedido.dateEntrega"/></div>
                    </div>
                    <div>
                        <div class=" mt-2">
                            <label>Comentário</label>
                            <textarea class="form-control" v-model=pedido.comentario></textarea>
                        </div>
                    </div>
                    <button v-if="pedido.ofertaEnviada" class="btn btn-success mt-2" >Oferta Enviada</button>
                    <button v-else v-on:click="enviarOferta(pedido)" class="btn btn-primary mt-2" >Enviar Oferta</button>
                </div>
                <div class="col-12 col-sm-4">
                    <div>
                        <img class="img-thumbnail" v-bind:src="pedido.urlImagem" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  funcao Vue.js vai ser invocada depois de cada pagina ser invocada

Para fazermos essa requisição com Axios é só copiarmos esse código,
.get('https://api.coindesk.com/v1/bpi/currentprice.json'), é um get,
é exatamente isso mesmo que queremos fazer. E aqui, .then(response => (this.info = response)),
ele está adicionando a resposta do this.info - que é quem? Esse aqui que está no data,
que no nosso caso é pedidos

] E quando ele nos responder, then, nós recebemos uma resposta. Vamos o quê? Vamos adicionar em pedidos,
então é this.pedidos.response. O this automaticamente nos permite acessar o data
!-->
<script>
        function onLoad()
        {
            var app = new Vue({
            el: '#ofertas',
            data: {
               pedidos : []
            },
             mounted() {
               axios
                .get('http://localhost:8080/api/pedidos/aguardando')
                .then(response => {
                    response.data.forEach(pedido=> pedido.ofertaEnviada = false)
                    this.pedidos = response.data
                    })

            },
              methods: {
                enviarOferta : function(pedido){
                 axios
                    .post('http://localhost:8080/api/ofertas',{
                        pedidoId: pedido.id,
                        valor: pedido.valorNegociado,
                        dateEntrega: pedido.dateEntrega,
                        comentario: pedido.comentario
                    })
                    .then(response => pedido.ofertaEnviada = true) ;

                    }
                }
            });
       }

</script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>

<!--
Tudo o que você adiciona no model é acessível pelo Thymeleaf. Tudo o que você adiciona no data
é acessado pelo Vue.js nessa sintaxe, como se fosse o Thymeleaf. Então é legal, funciona de modo
bem interessante.-->
